repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        exclude: ^uv\.lock$
      - id: check-merge-conflict
      - id: check-toml

  - repo: local
    hooks:
      # Run the linter
      - id: ruff
        name: ruff
        language: system
        entry: uv run ruff check --fix
        types_or: [python, pyi]
      # Run the formatter
      - id: ruff-format
        name: ruff-format
        language: system
        entry: uv run ruff format
        types_or: [python, pyi]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        language: system
        entry: uv run mypy
        types_or: [python, pyi]
        exclude: ^S3MP/utils/image_utils\.py$
