name: "Lint and Test"
on: workflow_call

jobs:
  lint_and_test:
    name: Lint and Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v3
        with:
          version: "latest"

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: uv sync --dev

      - name: Run pre-commit hooks
        run: uv run pre-commit run --all-files

      - name: Tests
        run: uv run pytest tests
